@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background-color: hsl(185, 41%, 84%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Space Mono', monospace;
  margin: 0;
  padding: 0;
}

#logo {
  margin: 3em 0 4em 0;
}

label {
  color: hsl(186, 14%, 43%);
  font-weight: 600;
}

.bill-form input, .number-form input {
  margin-top: 1em;
  background-color: hsl(189, 41%, 97%);
  border: 0;
  height: 3.0em;
  width: 100%;
}

.bill-form input[type="number"], .number-form input[type="number"] {
  color: hsl(183, 100%, 15%);
  font-size: 1em;
  font-family: 'Space Mono', monospace;
  font-weight: 600;
  text-align: right;
  padding-right: 0.8em;
  border-radius: 4px;
}

input::placeholder {
  color: hsl(184, 14%, 70%);
  font-size: 120%;
  font-family: 'Space Mono', monospace;
  font-weight: 600;
  text-align: right;
}

.bill-form input {
  background-image: url('images/icon-dollar.svg');
  background-repeat: no-repeat;
  background-position: 15px center;
}

.number-form input {
  background-image: url('images/icon-person.svg');
  background-repeat: no-repeat;
  background-position: 15px center;
}

.form {
  margin: 3em 1em 3em 3em;
  width: 60%;
}

.bill {
  margin-bottom: 2em;
}

.buttons {
  margin: 1em 0 2em 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.9em;
}

.button-tip {
  background-color: hsl(183, 100%, 15%);
  border: 0;
  color: hsl(189, 41%, 97%);
  font-family: 'Space Mono', monospace;
  height: 2.3em;
  border-radius: 6px;
  font-size: 1.4em;
  font-weight: 600;
  transition: 0.5s;
}

.button-tip:hover {
  background-color:#9FE8DF;
  color: hsl(183, 100%, 15%);
}

.button-tip.active {
  background-color:#55C3AE;
  color: hsl(183, 100%, 15%);
}

.buttons > input[type="number"] {
  color:hsl(183, 100%, 15%);
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: hsl(189, 41%, 97%);
  border-radius: 6px;
  border: 0;
  width: 6em;
  font-family: 'Space Mono', monospace;
  font-weight: 600;
  font-size: 120%;
}

.buttons > input::placeholder {
  color:hsl(183, 100%, 15%);
  text-align: center;
  font-family: 'Space Mono', monospace;
  font-weight: 600;
  font-size: 120%;
}

.calculation {
  background-color: hsl(183, 100%, 15%);
  width: 50%;
  margin: 2em;
  border-radius: 18px;
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

h4 {
  margin: 0;
  padding: 0;
  color: hsl(189, 41%, 97%);
  font-weight: 600;
}

h3 {
  margin: 0;
  padding: 0;
}

p {
  color: hsl(184, 14%, 56%);
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}

.total, .tip-amount {
  color: hsl(172, 67%, 45%);
  font-size: 2.8em;
}

.button-reset {
  background-color: #29686D;
  width: 100%;
  color:   #20565a;
  border: 0;
  font-size: 1.3em;
  height: 2.4em;
  font-family: 'Space Mono', monospace;
  font-weight: 600;
  border-radius: 6px;
}

.button-reset.active {
  background-color:hsl(172, 67%, 45%);;
  color: hsl(183, 100%, 15%);
  width: 100%;
  border: 0;
  font-size: 1.3em;
  height: 2.4em;
  font-family: 'Space Mono', monospace;
  font-weight: 600;
  border-radius: 6px;
  transition: 0.5s;
}

.button-reset.active:hover {
  background-color:#9FE8DF;
  color: hsl(183, 100%, 15%);
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 24px;
  width: 57.5em;
  display: flex;
  margin-bottom: 5em;
}

.number.error, .bill.error {
  border: 2px solid rgb(233, 58, 58);
  border-radius: 4px;
}

.error-message-bill, .error-message-people {
  display: none;
}

.error-message-bill.display, .error-message-people.display {
  display: block;
  color: rgb(233, 58, 58);
  font-weight: 600;
  font-size: 1em;
}

.form-label {
  display: flex;
  justify-content: space-between;
  text-align: end;
}

@media only screen and (max-width: 950px) {
  .card {
    width: 90%;
  }
}

@media only screen and (max-width: 800px) {
  #logo {
    margin: 2em 0 2em 0;
  }

  .card {
    width: 90%;
  }
  .labels {
    display: block;
  }
  .total, .tip-amount {
    font-size: 2.2em;
  }
}

@media only screen and (max-width: 675px) {
  .card {
    width: 95%;
    display: block;
    margin-bottom: 2em;
  }

  .form {
    margin: 0;
    padding: 1em;
    width: auto;
  }

  .bill-form input[type="number"], .number-form input[type="number"] {
    padding-right: 0;
  }

  .bill-form input::placeholder, .number-form input::placeholder {
    padding-right: 0.8em;
  }

  .buttons {
    margin: 1em 0 2em 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.9em;
    width: 100%;
  }

  .buttons > input[type="number"] {
    width: 100%;
  }

  .calculation {
    width: auto;
    margin: 1em;
  }

  .labels {
    display: flex;
  }
}
